@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans+Pinstripe&family=Silkscreen&display=swap');

body,
html {
    padding: 0;
    margin: 0 auto;
}

canvas {
    border: 1px solid #ffe191;
    background-color: #ffe191;
    margin: 0 auto;
}

.canvas-contain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/bg-index.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.timer {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.canvas-contain h1 {
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
}

.ob-container {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg-onboard.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: greenyellow;
    font-family: 'Aboreto', cursive;
    font-size: 30px;
}

.ob-container h1 {
    color: coral;
    margin: 10px;
    font-size: 60px;
}

.ob-container h2 {
    color: coral;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
}

.ob-container h2 span {
    color: black;
}

.ob-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ob-container h6 {
    font-size: 16px;
    border: 2px solid black;
    padding: 10px 30px;
    background-color: white;
    color: black;
    border-radius: 25px;
}

.ob-container h6 span {
    font-size: 12px;
}

#names {
    font-size: 22px;
}

.ob-container a {
    padding: 15px 40px;
    color: coral;
    border: 2px solid coral;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Silkscreen', cursive;
    transition: all .5s ease;
}

.ob-container a:hover {
    background-color: white;
    padding: 15px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    transition: all .5s ease;
}

.go-container {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg-gameover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: greenyellow;
    font-family: 'Aboreto', cursive;
    font-size: 30px;
}

.go-container div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.go-container div h1 {
    font-size: 120px;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    font-family: 'Silkscreen', cursive;
    margin: 40px 0 0;
}

.go-container div h2 {
    font-size: 20px;
    color: white;
    font-family: 'Silkscreen', cursive;
    margin: 0;
}

.go-container a {
    padding: 15px 40px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Silkscreen', cursive;
    transition: all .5s ease;
    margin: 20px 0px 60px;
    background-color: white;
}

.go-container a:hover {
    background-color: white;
    padding: 15px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    transition: all .5s ease;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

#youwin {
    position: relative;
    background-image: none;
    background: rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/you-win0ovrlay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#youwin a {
    z-index: 10;
}